
<!-- <div>algo</div>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- <p>
    <mat-form-field appearance="legacy">
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p> -->
  <!-- <app-dasboard-nuevo></app-dasboard-nuevo> -->
  <!-- <app-formulario-registro></app-formulario-registro> -->
<router-outlet></router-outlet>