.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.formulario{
    width: 50vw;
}

mat-form-field{
    padding: 0;
    margin: 0;
}

label{
    transition: transform .2s ease-in-out
}